*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 .logo img{
    width:128px;
    height:50px;
    color:#007185;
    font-size: 14px;
    margin:1px;
    padding:1px 8px 0px 6px;
}
.delivery1 {
    width:186px;
    height:14px;
    color:#cccccc;
    font-size: 12px;
}
.delivery2 dei{
    width:186px;
    height:16px;
    color:#ffffff;
    font-size: 14px;
    padding:0px 0px 1px;
}
.delivery21 {
    width:15px;
    height:18px;
    margin:8px 0px 0px;
}
.flag{
    width:55px;
    height:33px;
    color:#d6d6d6;
}
.flag1 img{
    width:21px;
    height:16px;
    margin:0px 2px 1px 0px;
}
.flag21{
    width:18px;
    height:15px;
    color:#ffffff;
    font-size: 14px;

}
.flag22{
    width:8px;
}
.sign1{
    width:70px;
    height:14px;
    color:#ffffff;
    font-size: 12px;

}
.sign2{
    width:113px;
    height: 15px;
    color:#ffffff;
    font-size: 14px;
}
.return{
    margin-bottom: 10px;
}
.return1{
    width:58px;
    height:14px;
    color:#ffffff;
    font-size: 12px;
    margin: 9px 0px 0px;
}
.return2{
    width:58px;
    height:15px;
    color:#ffffff;
    font-size: 14px;
    font-weight: bolder;
}
.cart2{
    width:28px;
    height:15px;
    color:#ffffff;
    font-size:14px;
    margin-top: 14px;
}
.container1{
    border:none;
}
.container1:hover{
    border:1px solid white;
}
/* navbar styling */
.bar11{
    margin-left: 15px;
}
/* last one */
